Node Red flows.json
[{"id":"5af006e90da0a78b","type":"tab","label":"Cuve","disabled":false,"info":"","env":[]},{"id":"6de4fa1db66e2503","type":"server-state-changed","z":"5af006e90da0a78b","name":"","server":"72357ae2.ec78e4","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"sensor.pompe_cuve_distance","entityIdType":"exact","outputInitially":false,"stateType":"num","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":210,"y":160,"wires":[["8ffd5cacd22c396f"]]},{"id":"e5e25f9515baf9ce","type":"debug","z":"5af006e90da0a78b","name":"Distance","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":920,"y":240,"wires":[]},{"id":"8ffd5cacd22c396f","type":"outlier","z":"5af006e90da0a78b","name":"","mode_input":"batch_number","numberOfSamples":"10","mode_outlier":"remove","mode_output":"median","max_interquartile_range":"2","x":370,"y":260,"wires":[["e5e25f9515baf9ce","1cd38af2a19c0284"]]},{"id":"1cd38af2a19c0284","type":"function","z":"5af006e90da0a78b","name":"Calcul Hauteur d'eau","func":"\nmsg.payload = 1.65 - msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":360,"wires":[["8f15ecd69dbb416d","b0a5cdaff18a283c","cd229cbe3f67d96f"]]},{"id":"8f15ecd69dbb416d","type":"debug","z":"5af006e90da0a78b","name":"Hauteur d'eau","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":300,"wires":[]},{"id":"cf9cb6d9c6cf41d4","type":"debug","z":"5af006e90da0a78b","name":"Volume","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.filledVolume","targetType":"msg","statusVal":"","statusType":"auto","x":920,"y":500,"wires":[]},{"id":"cc57e7acfcb46f0d","type":"tank-volume","z":"5af006e90da0a78b","name":"","tankType":"horiz_cylin","inputField":"payload","outputField":"payload","measurement":"fluid","inputUnit1":"cm","inputUnit2":"l","outputUnit":"l","topLimit":"165","bottomLimit":"10","diameter":"185","length":"467.7","width":0,"height":0,"length2":0,"width2":0,"height2":0,"coneHeight":0,"cylinderHeight":0,"diameterTop":0,"diameterBottom":0,"customTable":[],"x":690,"y":460,"wires":[["cf9cb6d9c6cf41d4","f6f7c2824ab9991b"]]},{"id":"b0a5cdaff18a283c","type":"function","z":"5af006e90da0a78b","name":"Conversion centimètre","func":"\nmsg.payload = msg.payload * 100\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":460,"wires":[["cc57e7acfcb46f0d"]]},{"id":"f6f7c2824ab9991b","type":"ha-sensor","z":"5af006e90da0a78b","name":"Remplissage Cuve en litre","entityConfig":"73e7f4a3fc87d679","version":0,"state":"payload.filledVolume","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":970,"y":420,"wires":[[]]},{"id":"cd229cbe3f67d96f","type":"ha-sensor","z":"5af006e90da0a78b","name":"Hauteur d'eau en m","entityConfig":"959bd9cc091b1f9b","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":950,"y":360,"wires":[[]]},{"id":"72357ae2.ec78e4","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"73e7f4a3fc87d679","type":"ha-entity-config","server":"72357ae2.ec78e4","deviceConfig":"","name":"Cuve_remplissage_litres","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Niveau de remplissage en litres"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"water"},{"property":"unit_of_measurement","value":"L"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"959bd9cc091b1f9b","type":"ha-entity-config","server":"72357ae2.ec78e4","deviceConfig":"","name":"Cuve_hauteur_eau","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Hauteur d'eau en m"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"distance"},{"property":"unit_of_measurement","value":"m"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false}]